<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>GcHmGpnmUkMBMXNvjP8Y/YXQI+vgFPQ8+HK20pS8Qlk=</string>
	<key>SUFeedURL</key>
	<string>https://pub-5f38224dc1ff432da0f0a37e338ec061.r2.dev/sparkle/appcast.xml</string>
</dict>
</plist>
